<div class="rs-friends">
  <div class="container-fluid">
    <div class="row rs-friends_cards">
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="rs-friends_cards_item">
          <div class="rs-friends_cards_item_header">
            <div class="rs-friends_cards_item_header_profile"></div>
          </div>
          <div class="rs-friends_cards_item_main">
            <h3>Marina Valentine</h3>
            <span>Long Island, NY</span>
            <div class="rs-friends_cards_item_main_data">
              <div>
                52
                <span>Friends</span>
              </div>
              <div>
                240
                <span>Photos</span>
              </div>
              <div>
                16
                <span>Videos</span>
              </div>
            </div>
            <div class="rs-friends_cards_item_main_excerpt">
              Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
