<div class="rs-w mt-w-about">
  <div class="rs-w_header">
    <h3>About</h3>
  </div>
  <div class="rs-w_main">
    <div class="mt-w-about_item">
      <span>Current</span>
      <p>Unfold LLC, Two Solid LLC</p>
    </div>
    <div class="mt-w-about_item">
      <span>Previus</span>
      <p>Sferea Studios</p>
    </div>
    <div class="mt-w-about_item">
      <span>Education</span>
      <p>Lic Ciencias Computacionales</p>
    </div>
    <div class="mt-w-about_item">
      <span>Lives in</span>
      <p>Hidalgo</p>
    </div>
    <div class="mt-w-about_item">
      <span>Marrital status</span>
      <p>Married</p>
    </div>
  </div>
  <div class="rs-w_footer"></div>
</div>
