<div class="rs-sources container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="rs-sources_buttons">
        <button type="button" class="btn btn-primary">All</button>
        <button type="button" class="btn btn-secondary">Premiun</button>
        <button type="button" class="btn btn-secondary">Especialidades</button>
        <button type="button" class="btn btn-secondary">Gratis</button>
      </div>
    </div>
  </div>

  <div class="row rs-sources_courses">
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_label">Feature</div>
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_label">Feature</div>
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_label">Feature</div>
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_courses_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 px-2">
      <div class="rs-sources_courses_card">
        <div class="rs-sources_courses_card_header"></div>
        <div class="rs-sources_courses_card_main">
          <p class="rs-sources_courses_card_main_title">ionic 2 y ionic 3: Crea apps para Android e iOS desde cero.</p>
          <p class="rs-sources_courses_card_main_author">Alan Villeda</p>
          <div class="rs-sources_courses_card_main_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4,6 (3.398)</span>
          </div>
          <p class="rs-sources_card_main_price">160 MX$</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row rs-sources_topics">
    <div class="col-12 mb-2">Temas Populares</div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
    <div class="col-lg-2 px-2">
      <div class="rs-sources_topics_item">
        Desarrollo web
      </div>
    </div>
  </div>
</div>
