<div class="rs-w app-w-post">
  <div class="app-w-post_header">
    <div class="app-w-post_header_img-profile"
         [ngStyle]="{ 'background': 'url(https://picsum.photos/32?image=6)'}"></div>
    <div class="app-w-post_header_data">
      <div>
        <span class="username">Eder Marcos</span> shared <span class="action">link</span>
      </div>
      <div class="date">March 4 at 2:05pm</div>
    </div>
  </div>
  <div class="rs-w_main app-w-post_main">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.

    <div class="app-w-post_main_actions">
      <div class="rs-icon">
        <i class="fas fa-heart"></i>
      </div>
      <div class="rs-icon">
        <i class="far fa-comment-dots"></i>
      </div>
      <div class="rs-icon">
        <i class="fas fa-share"></i>
      </div>
    </div>

  </div>
  <div class="rs-w_footer app-w-post_footer">
    <div class="rs-stats">
      <i class="fas fa-heart"></i>
      <span>115k</span>
    </div>
    <div class="rs-stats">
      <i class="far fa-comments"></i>
      <span>115k</span>
    </div>
    <div class="rs-stats">
      <i class="fas fa-share"></i>
      <span>115k</span>
    </div>
  </div>
</div>
