<div class="rs-w app-w-sugguestions">
  <div class="rs-w_header">
    <h3>Friend Suggestions</h3>
  </div>
  <div class="rs-w_main app-w-sugguestions_main">
    <div class="app-w-sugguestions_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48?image=10" alt="">
        <div class="app-w-sugguestions_item_data">
          <span>Megan Fisher</span>
          <p>6 Friends in Common</p>
        </div>
      </div>
      <div class="app-w-sugguestions_item_btn-add">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="app-w-sugguestions_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48?image=10" alt="">
        <div class="app-w-sugguestions_item_data">
          <span>Megan Fisher</span>
          <p>6 Friends in Common</p>
        </div>
      </div>
      <div class="app-w-sugguestions_item_btn-add">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="app-w-sugguestions_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48?image=10" alt="">
        <div class="app-w-sugguestions_item_data">
          <span>Megan Fisher</span>
          <p>6 Friends in Common</p>
        </div>
      </div>
      <div class="app-w-sugguestions_item_btn-add">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="app-w-sugguestions_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48?image=10" alt="">
        <div class="app-w-sugguestions_item_data">
          <span>Megan Fisher</span>
          <p>6 Friends in Common</p>
        </div>
      </div>
      <div class="app-w-sugguestions_item_btn-add">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="app-w-sugguestions_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48?image=10" alt="">
        <div class="app-w-sugguestions_item_data">
          <span>Megan Fisher</span>
          <p>6 Friends in Common</p>
        </div>
      </div>
      <div class="app-w-sugguestions_item_btn-add">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>
  <div class="rs-w_footer"></div>
</div>
