<div class="rs-w app-w-people">
  <div class="rs-w_header">
    <h3>People also viewed</h3>
  </div>
  <div class="rs-w_main app-w-people_main">
    <div class="app-w-people_main_item">
      <img src="https://picsum.photos/48?image=10" alt="">
      <div class="app-w-people_main_item_data">
        <span>Megan Fisher</span>
        <p>UI/UX Designer</p>
      </div>
    </div>
    <div class="app-w-people_main_item">
      <img src="https://picsum.photos/48?image=11" alt="">
      <div class="app-w-people_main_item_data">
        <span>Victor Erixon</span>
        <p>Product Designer</p>
      </div>
    </div>
    <div class="app-w-people_main_item">
      <img src="https://picsum.photos/48?image=12" alt="">
      <div class="app-w-people_main_item_data">
        <span>Lucie Karoskova</span>
        <p>iOS and Icon designer</p>
      </div>
    </div>
    <div class="app-w-people_main_item">
      <img src="https://picsum.photos/48?image=13" alt="">
      <div class="app-w-people_main_item_data">
        <span>Eder Marcos</span>
        <p>Art Director</p>
      </div>
    </div>
  </div>
  <div class="rs-w_footer"></div>
</div>
