@import '../../../../assets/utils/variables';
@import '../../../../assets/utils/mixins';


.app-w-today {
  @include box-shadow();
  background: $accent-dark;
  padding: 1rem;
  color: $ui-50;
  margin-bottom: 1rem;

  &_main {
    i {
      display: block;
      margin-bottom: 1rem;
      text-align: right;
    }

    img {
      @include image-round(2rem, 0);
      margin-bottom: 0.5rem;
    }

    .subtitle {
      font-size: 0.7rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    .name {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: white;
    }
    .message {
      font-size: 0.75rem;
    }
  }
}
