<div class="rs-index">
  <div class="rs-index_header">
    <div class="container-fluid d-none d-lg-block">
      <div class="row">
        <div class="col-lg-4 p-0">
          <div class="rs-index_header_logo">
            GC
          </div>
        </div>
        <div class="col-lg-4 px-0 py-3">
          <div class="rs-index_header_searchbar">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Search for people, jobs, companies and more...">
            </div>
          </div>
        </div>
        <div class="col-lg-4 pl-0 pr-4 py-3">
          <div class="rs-index_header_profile">
            <div class="rs-index_header_profile_icon">
              <i class="fas fa-comment-dots"></i>
            </div>
            <div class="rs-index_header_profile_icon">
              <i class="fas fa-bell"></i>
            </div>

            <div class="dropdown">
              <div class="rs-index_header_profile_container" data-toggle="dropdown">
                <div class="rs-index_header_profile_container_info">
                  <span>Eder Marcos</span>
                  <p>Developer</p>
                </div>
                <div class="img"
                     [ngStyle]="{ 'background': 'url(https://picsum.photos/32?image=6)'}"></div>
                <i class="fas fa-caret-down"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-header">Your account settings</span>
                <a class="dropdown-item"
                   routerLink="/profile">Profile</a>
                <a class="dropdown-item"
                   routerLink="/profile">Settings</a>
                <a class="dropdown-item"
                   routerLink="/profile">Log out</a>

                <div class="dropdown-divider"></div>
                <span class="dropdown-header">Chat Settings</span>
                <a class="dropdown-item"
                   routerLink="/profile">Visible</a>
                <a class="dropdown-item"
                   routerLink="/profile">Away</a>
                <a class="dropdown-item"
                   routerLink="/profile">Disconnected</a>
                <a class="dropdown-item"
                   routerLink="/profile">Invisible</a>

                <div class="dropdown-divider"></div>
                <span class="dropdown-header">About GeekCode</span>
                <a class="dropdown-item"
                   routerLink="/profile">Terms and Conditions</a>
                <a class="dropdown-item"
                   routerLink="/profile">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-index_header_menu">
      <nav class="navbar navbar-expand-lg navbar-light px-lg-0">
        <div class="container">
          <div class="row mx-lg-auto">
            <div class="col px-lg-0">
              <button class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#nb-menu"
                      aria-controls="nb-menu"
                      aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="nb-menu">
                <ul class="navbar-nav">
                  <li class="nav-item" routerLink="/home" routerLinkActive="active">
                    <div class="d-flex align-items-center">
                      <i class="fas fa-home"></i>
                      <a class="nav-link">Home</a>
                    </div>
                  </li>
                  <li class="nav-item" routerLink="/courses" routerLinkActive="active">
                    <div class="d-flex align-items-center">
                      <i class="fas fa-book"></i>
                      <a class="nav-link">Courses</a>
                    </div>
                  </li>
                  <li class="nav-item" routerLink="/news" routerLinkActive="active">
                    <div class="d-flex align-items-center">
                      <i class="far fa-newspaper"></i>
                      <a class="nav-link">News</a>
                    </div>
                  </li>
                  <li class="nav-item" routerLink="/friends" routerLinkActive="active">
                    <div class="d-flex align-items-center">
                      <i class="fas fa-user-friends"></i>
                      <a class="nav-link">Friends</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="rs-index_main">
    <div class="container">
      <div class="row">
        <div class="col px-lg-0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="rs-index_footer"></div>
</div>
