<div class="rs-profile">
  <div class="rs-profile_header">
    <div class="rs-profile_header_bg"
         [ngStyle]="{ 'background-image': 'url(https://picsum.photos/1280/720?image=1055)'}"></div>
    <div class="rs-profile_header_img"
         [ngStyle]="{ 'background-image': 'url(https://picsum.photos/80?image=6)'}"></div>
    <div class="rs-profile_header_information">
      <h2>Eder Marcos</h2>
      <p>@edermarcos</p>
      <span>Developer at MTech Systems</span>
    </div>
    <div class="rs-profile_header_metadata">
      <div class="rs-profile_header_metadata-left">
        <span>5k</span>
        <p>Seguidores</p>
      </div>
      <div class="rs-profile_header_metadata-center">
        <span>16</span>
        <p>Courses</p>
      </div>
      <div class="rs-profile_header_metadata-right">
        <span>580</span>
        <p>Seguidos</p>
      </div>
    </div>
    <div class="rs-profile_header_options">
      <!--<div class="rs-profile_header_options_button">-->
        <!--<i class="far fa-comment-dots"></i>-->
      <!--</div>-->
      <div class="rs-profile_header_options_button">
        <i class="far fa-comment-dots"></i>
      </div>
      <div class="rs-profile_header_options_button">
        <i class="fas fa-user-plus"></i>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 pl-lg-0 pr-lg-2">
        <app-w-about></app-w-about>
      </div>
      <div class="col-lg-6">
        <app-w-main></app-w-main>
        <app-w-post></app-w-post>
        <app-w-post></app-w-post>
      </div>
      <div class="col-lg-3 pl-lg-2 pr-lg-0">
        <app-w-people></app-w-people>

        <div class="rs-w rs-profile_friends">
          <div class="rs-w_header">
            <h3>Friends (15)</h3>
          </div>
          <div class="rs-w_main rs-profile_friends_main">
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container">
              <div class="rs-container-image">
                +76
              </div>
            </div>


          </div>
          <div class="rs-w_footer"></div>
        </div>

        <div class="rs-w rs-profile_photos">
          <div class="rs-w_header">
            <h3>Last Photos</h3>
          </div>
          <div class="rs-w_main rs-profile_photos_main">
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
            <div class="rs-container-photos">
              <div class="rs-container-photos-image"
                   [ngStyle]="{ 'background-image': 'url(https://picsum.photos/32?image=16)'}">
              </div>
            </div>
          </div>
          <div class="rs-w_footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
