<div class="rs-w app-w-pages-like">
  <div class="rs-w_header">
    <h3>Pages you may Like</h3>
  </div>
  <div class="rs-w_main app-w-pages-like_main">
    <div class="app-w-pages-like_main_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48" alt="">
        <div class="app-w-pages-like_main_item_data">
          <span>The Marina Bar</span>
          <p>Restaurant / Bar</p>
        </div>
      </div>
      <div class="app-w-pages-like_main_item_icon">
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="app-w-pages-like_main_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48" alt="">
        <div class="app-w-pages-like_main_item_data">
          <span>The Marina Bar</span>
          <p>Restaurant / Bar</p>
        </div>
      </div>
      <div class="app-w-pages-like_main_item_icon">
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="app-w-pages-like_main_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48" alt="">
        <div class="app-w-pages-like_main_item_data">
          <span>The Marina Bar</span>
          <p>Restaurant / Bar</p>
        </div>
      </div>
      <div class="app-w-pages-like_main_item_icon">
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="app-w-pages-like_main_item">
      <div class="d-flex align-items-center">
        <img src="https://picsum.photos/48" alt="">
        <div class="app-w-pages-like_main_item_data">
          <span>The Marina Bar</span>
          <p>Restaurant / Bar</p>
        </div>
      </div>
      <div class="app-w-pages-like_main_item_icon">
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
  <div class="rs-w_footer"></div>
</div>
