<div class="rs-w app-w-blog">
  <div class="rs-w_header">
    <h3>Blog Posts</h3>
  </div>
  <div class="rs-w_main app-w-blog_main">
    <div class="app-w-blog_main_item">
      <p class="app-w-blog_main_item_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="app-w-blog_main_item_description">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>
      <p class="app-w-blog_main_item_date">a few minutes ago</p>
    </div>
    <div class="app-w-blog_main_item">
      <p class="app-w-blog_main_item_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="app-w-blog_main_item_description">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>
      <p class="app-w-blog_main_item_date">a few minutes ago</p>
    </div>
    <div class="app-w-blog_main_item">
      <p class="app-w-blog_main_item_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="app-w-blog_main_item_description">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>
      <p class="app-w-blog_main_item_date">a few minutes ago</p>
    </div>
  </div>
  <div class="rs-w_footer"></div>
</div>
