@import '../../assets/utils/variables';
@import '../../assets/utils/mixins';

.rs-home {
  &_header {
    position: relative;
    height: 50vh;
    max-height: 50vh;
    min-height: 50vh;
    background: $gray-900;
    margin-bottom: 1rem;

    &_footer {
      position: absolute;
      padding: 1rem;
      background: rgba(white, 0.3);
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &_main {
    &_item {
      @include flexbox();

      img {
        @include image-round(2.5rem, 0.5rem);
      }
    }
  }

  &_footer {}
}
