<div class="rs-home">
  <div class="rs-home_header">
    <div class="rs-home_header_footer">
      <button type="button" class="btn btn-primary">Contact</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 pl-lg-0"></div>
      <div class="col-lg-6"></div>
      <div class="col-lg-3 pr-lg-0">
        <div class="rs-w">
          <div class="rs-w_header">
            <h3>People also viewed</h3>
          </div>
          <div class="rs-w_main">
            <div class="rs-w_main_item">
              <img src="https://picsum.photos/38" alt="">
            </div>
          </div>
          <div class="rs-w_footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
