<div class="rs-home container-fluid">
  <div class="row">
    <div class="col-lg-3 pl-lg-0 pr-lg-2">
      <app-w-weather></app-w-weather>
    </div>
    <div class="col-lg-6 px-2">
      <div class="rs-w publish-w">
        <div class="rs-w_main publish-w_main">
          <div class="img"
               [ngStyle]="{ 'background': 'url(https://picsum.photos/32?image=6)'}"></div>
          <textarea class="form-control"
                    placeholder="Share what you are thinking here..."
                    rows="5"></textarea>
        </div>
        <div class="rs-w_footer publish-w_footer">
          <div>
            <i class="fas fa-camera"></i>
            <i class="fas fa-video"></i>
            <i class="fas fa-tags"></i>
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div>
            <button type="button"
                    class="btn btn-primary">Publish</button>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <app-w-post></app-w-post>
        <app-w-post></app-w-post>
        <app-w-post></app-w-post>
        <app-w-post></app-w-post>
        <app-w-post></app-w-post>
      </div>
    </div>
    <div class="col-lg-3 pl-lg-2 pr-lg-0">
      <div class="rs-w">
        <div class="rs-w_header">
          <h3>About</h3>
        </div>
        <div class="rs-w_main">
          <p>Right card</p>
        </div>
        <div class="rs-w_footer"></div>
      </div>
    </div>
  </div>
</div>
